<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @mom.user %>
</p>

<p>
  <b>Email:</b>
  <%= @mom.email %>
</p>

<p>
  <b>Age:</b>
  <%= @mom.age %>
</p>

<p>
  <b>Neighborhood:</b>
  <%= @mom.neighborhood %>
</p>

<p>
  <b>Tvshow:</b>
  <%= @mom.tvshow %>
</p>

<p>
  <b>Hobby:</b>
  <%= @mom.hobby %>
</p>

<p>
  <b>Children:</b>
  <%= @mom.children %>
</p>

<p>
  <b>Photo:</b>
  <%= @mom.photo_id %>
</p>

<p>
  <b>Education:</b>
  <%= @mom.education %>
</p>

<p>
  <b>Pets:</b>
  <%= @mom.pets %>
</p>


<%= link_to 'Edit', edit_mom_path(@mom) %> |
<%= link_to 'Back', moms_path %>
